body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ffffff; 
        }


        h1 {
            position:relative; top:50px; left:-250px;
        }

        section {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 0 0 8px 8px;
        }
        .quantity {
            color: #28a745; 
            font-weight: bold;
        }
table{
    position:relative; top:50px; left:-230px;
    width:160%;
    font-size:100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    text-align:center;
}
th, td {
    border-bottom: 1px solid #444444;
    height:50px;
}
th{
    width:35%;
}
td{
   width:30%;
}
.top{
    font-size:120%;
    color:#00462a;
    background-color:rgba(5, 202, 124, 0.6);
}
th:first-child, td:first-child {
    border-left: none;
  }
    .button-container {
        display: flex;
        justify-content: flex-end;
        z-index:5;
        position:relative; left:-105px;
    }
    .customButton {
        display: inline-block;
        width: 150px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        background-color: #cccccc;
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: bold;
    }


    .customButton:hover {
        background-color: #00aa00;
    }
