
h1{
position:absolute;
left:640px;
top:100px;
font-size:36px;
font-weight:bold;
color:rgb(0,70,42,0.67);
}

.loginInput{
border-color:#7D7777;
border:1px solid grey;
width:478px;
height:44px;
}

#id{
position:absolute;
left:481px;
top:220px;
}

#password{
position:absolute;
left:481px;
top:280px;
}

input[type="submit"]{
position:absolute;
left:481px;
top:400px;
width:478px;
height:62px;
background-color:#00462A;
border-radius:8px;
color:white;
font-size:28px;
}

#signUp{
position:absolute;
left:666px;
top:500px;
text-align:center;
font-size:28px;
color:black;
text-decoration: none;
}










