<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='cart.css') }}">
    <title>장바구니</title>

</head>
{% extends "index.html" %}
{% block section %}
<body>

<h1>{{session['id']}}님 장바구니</h1>

<section>
<table >
    <tr class="top">
        <th>상품명</th>
        <th>수량</th>
        <th>구매</th>
    </tr>
    {% for product_id, quantity_dict in cart_items.items() %}
    {% set quantity = quantity_dict['quantity'] %}
    <tr>
        <th>{{ product_id }}</th>
        <td>{{ quantity }}</td>
        <td>
            <div class="button-container">
                <a href="/buy_now/{{name}}" class="customButton" name="buynow">Buy Now</a>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
</section>

</body>
{% endblock section %}
</html>
