<html>
<head>
    <title>main_first</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_first.css') }}">
</head>
    
{% extends "index.html" %}
    
{% block section %}
<div class=e83_680>
<span  class="e84_14">이화상점</span>
<div class="button1">
    <div class="ewhaimage"></div>
    <div class="button1_1">
        <a href="/list" class="button1_2 button">Shop Now</a>
    </div>
</div>
    
    <div class="e86_291">
			<div class=product1>
				<div  class="image1"></div>
				<span  class="num1">구매 150    마켓찜 35 </span>
				<span  class="marketname1">송충이 상점</span>
				<span  class="marketinfo1">한줄소개작성한줄소개작성성</span>
			</div>
			<div class=product2>
				<div  class="image2"></div>
				<span  class="num2">구매 150    마켓찜 35 </span>
				<span  class="marketname2">송충이 상점</span>
				<span  class="marketinfo2">한줄소개작성한줄소개작성성</span>
			</div>
			<div class=product3>	
				<div  class="image3"></div>			
				<span  class="num3">구매 150    마켓찜 35 </span>
				<span  class="marketname3">송충이 상점</span>
				<span  class="marketinfo3">한줄소개작성한줄소개작성성</span>
			</div>
			<div class=product4>
				<div  class="image4"></div>
				<span  class="num4">구매 150    마켓찜 35 </span>
				<span  class="marketname4">송충이 상점</span>
				<span  class="marketinfo4">한줄소개작성한줄소개작성성</span>

						</div>

					</div>
				</div>

				
				<span  class="p1">배지 상점 바로가기</span>
				<div  class="배지이미지"></div>
			</div>
    
{% endblock section %}
</html>
