<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width initial-scale=1.0;" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    {# <link href="login.css" rel="stylesheet" /> #}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>이화상점: 로그인</title>
</head>
    
{% extends "index.html" %} 
{% block section %} 
    <body>
            {% with mesg = get_flashed_messages() %}
            {% if mesg != [] %}
            <script>alert("{{ mesg[0] }}")</script>
            {% endif %}
            {% endwith %}
            <h1>이화상점</h1>

            <form action="/login_confirm" method="POST">
                <input type="text" class="loginInput" id="id" name = "id" placeholder="아이디" required style="font-size:20px;" />
                <input type="password" class="loginInput" id="password" name = "pw" placeholder="패스워드" required style="font-size:20px;" />
                <input type="submit" value="로그인" />
            </form>
            <a id="signUp" href="/agreement">회원가입</a>
    </body>
{% endblock section %}

</html>
