<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='reviewAll.css') }}">
</head>
{% extends "index.html" %} 
{% block section %} 
    
<div class="divRate">
    <p class="title">전체 상품 리뷰</p>
    <label class="rateAll">
        <pre>     총 평점 
        </pre>
        {% if total > 0 %}
            {% set average_rating = total_rating / total %}
            <progress class="all" value="{{ average_rating }}" max="5"></progress>
        {% else %}
            <progress class="all" value="0" max="5"></progress>
            <p class="rate">(0/5)</p>
        {% endif %}
    </label>
    <p class="rate">({{ "%.2f"|format(average_rating) }}/5)</p>
    <label class="rateInd">
        {% for rating, count in individual_ratings.items() %}
            <div class="rating-item">
                <span><br>{{ rating }}점</span>
                <progress class="ind" value="{{ count }}" max="{{ total }}"></progress>
                <sub>({{ count }})</sub>
            </div>
        {% endfor %}
    </label>
</div> 
{% if total > 0 %} 
<div class="divAll">
    <p class="subTitle">전체 리뷰({{total}})</p>
    <table>
        <tr>
        {% for key, value in row1 %}
            <td onclick="location.href='/view_review_detail/{{key}}';" style="cursor: pointer;">
                <img src="{{value.img_path}}", width=200, height=165>
            </td>
        {% endfor %}
        </tr>
        <tr>
        {% for key, value in row1 %}
            <th>리뷰 제목 : {{value.title}}</th>
        {% endfor %}
        </tr>
        <tr>
        {% for key, value in row2 %}
        <td onclick="location.href='/view_review_detail/{{key}}';" style="cursor:pointer;">
            <img src="{{value.img_path}}", width=200, height=165></td>
            {% endfor %}
        </tr>
        <tr>
        {% for key, value in row2 %}
            <th>리뷰 제목 : {{value.title}}</th>
        {% endfor %}
        </tr>
        
    </table>
</div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="page-wrap">
    <div class="page-nation">
        <ul>
            <li>
            {% for i in range(page_count)%}
                <a href="{{url_for('view_review', page=i)}}" color="black">{{i}}</a>
            {% endfor %} </li>
        </ul>
    </div>
</div>
{% else %}
<div class="divAll">
    <p class="subTitle">전체 리뷰(0)</p>
</div>
{% endif %}

{% endblock section %}
</html>
