<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='goodsAdd.css') }}">
</head>
{% extends "index.html" %} 
<body>
    <main>
    {% block section %} 
    <form action="/submit_item_post" method="post" enctype="multipart/form-data" id="myform">
    <div class="divImg">
            <div class="button">
                <label class="imgLabel" for="file">
                    <div class="formImg">
                        <p style="text-align: center; float: center;">상품 사진은 1장 업로드 가능합니다</p>
                        <img id="previewImg" src="#" alt="상품 미리보기 이미지" style="max-width: 100%; max-height: 100%;">
                    </div>
                </label>
            </div>
            <input type="file" id="file" accept="image/*" onchange="previewImage(this)" name="file" />
    </div>

    <div class="divForm">
            <label style="position: relative; left: 15px;">상품명</label>
            <input type="text" id="name" name="name" 
            placeholder="(최대 20자 입력 가능합니다)" maxlength="20" size="20" required>
            <hr><br>
            <label style="position: relative; left: -20px;">판매자 아이디</label>
            <input type="text" id="seller" name="seller" 
            value="{{user_id}}" maxlength="20" size="20" required readonly>
            <hr><br>
            <label style="position: relative; left: 5px;">카테고리</label>
            <select id="category" name="category" class="inputSelect">
                <option value="Clothes" selected> 의류 </option>
                <option value="Beauty"> 미용 </option>
                <option value="Books"> 서적 </option>
                <option value="Electronics"> 가전 </option>
                <option value="ETC"> 기타 </option>
            </select>
            <hr><br>
            <label style="position: relative; left: 25px;">금액</label>
            <input type="number" id="money" name="money" style="position: relative; left: 95px; top:-20px"
            placeholder="판매 금액 입력" min="0" maxlength="7" required><p class="won">원</p>
            <hr style="position:relative; top:-20px; left:125px;"><br>
            <label style="position: relative; left: 25px;">지역</label>
            <input type="text" name="addr" id="addr" 
            placeholder="(사는 도시 입력)" maxlength="20" size="20" required>
            <hr><br>
            <label style="position: relative; left: -5px; top:-30px">상품 상태</label>
            <fieldset>
                <input type="radio" name="reviewStar" value="5" id="rate1">
                <label for="rate1" class="star">★</label>
                <input type="radio" name="reviewStar" value="4" id="rate2">
                <label for="rate2" class="star">★</label>
                <input type="radio" name="reviewStar" value="3" id="rate3">
                <label for="rate3" class="star">★</label>
                <input type="radio" name="reviewStar" value="2" id="rate4">
                <label for="rate4" class="star">★</label>
                <input type="radio" name="reviewStar" value="1" id="rate5">
                <label for="rate5" class="star">★</label>
            </fieldset>
            <textarea name="intro" cols="50" rows="10" id="intro" 
            placeholder="상품 설명을 입력해주세요. (최대 500자 입력 가능합니다)" maxlength="500" required></textarea>
            <input type="submit" id="goodsSubmit" value="상품 등록">
    </div>
    </form>
    <script>
        function previewImage(input) {
            var preview = document.getElementById('previewImg');
            var file = input.files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.style.display = 'block';
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }
    </script>
    {% endblock section %}
    </main>
    <footer>By 오소와 오소플은 처음이지?</footer>
</body>

</html>
