<!DOCTYPE html>
<html>

<head>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Sansation+Light&display=swap" rel="stylesheet" />
<!--link href="main.css" rel="stylesheet" /-->
    
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<script src="https://kit.fontawesome.com/09606a1ca2.js" crossorigin="anonymous"></script>

<title>Document</title>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script>
    function showHeart() {
        $.ajax({
            type: 'GET',
            url: '/show_heart/{{name}}/',
            data: {},
            success: function (response) {
                let my_heart = response['my_heart'];
                let interested = my_heart['interested'];
                let interested_cnt = my_heart['interested_cnt'];

                $("#jcnt").text(interested_cnt); // Update the like count

                if (interested === 'Y') {
                    $(".heartButton").css("background-color", "red");
                    $("#heartButton").attr("onclick", "unlike()");
                } else {
                    $(".heartButton").css("background-color", "grey");
                    $("#heartButton").attr("onclick", "like()");
                }
            }
        });
    }

    function like() {
        $.ajax({
            type: 'POST',
            url: '/like/{{name}}/',
            data: {
                interested: "Y"
            },
            success: function (response) {
                $(".heartButton").css("background-color", "red");
                $("#heartButton").attr("onclick", "unlike()");
                var jcnt = Number($("#jcnt").text());
                $("#jcnt").text(jcnt + 1);
                alert(response['msg']);
            }
        });
    }

    function unlike() {
        if ("{{ session.get('id') }}" !== "") {
            $.ajax({
                type: 'POST',
                url: '/unlike/{{name}}/',
                data: {
                    interested: "N"
                },
                success: function (response) {
                    alert(response['msg']);
                    $(".heartButton").css("background-color", "grey");
                    $("#heartButton").attr("onclick", "like()");
                    var jcnt = Number($("#jcnt").text());
                    if (jcnt > 0) {
                        $("#jcnt").text(jcnt - 1);
                    }
                }
            });
        } else {
            alert("Please log in to unlike the item.");
        }
    }

    $(document).ready(function () {
        showHeart();
    });
</script>
    
</head>

<body>



    <div class="v3_870">
        <img class="v38_275_t" src="../../{{data.img_path}}", width=627, height=600>
        <div class="v5_1562">
            <span class="상품명">{{name}}</span>
            <span class="가격">{{data.money}} 원</span>
            <span class="상품소개">{{data.intro}}</span>
            <span class="판매자">판매자             {{data.seller}}</span>
            <span class="지역">지역             {{data.addr}}</span>
            <span class="상품상태">
                {% if data['status'] == "1" %}
                1점
                {% endif %}
                {% if data['status'] == "2" %}
                2점
                {% endif %}
                {% if data['status'] == "3" %}
                3점
                {% endif %}
                {% if data['status'] == "4" %}
                4점
                {% endif %}
                {% if data['status'] == "5" %}
                5점
                {% endif %}
            </span>
    </div>
    <div class="image-container">
    
    </div>
    
    <div class="button-container">
        <a href="/reg_review_init/{{name}}" class="customButton">Write Review</a>
        <a href="/buy_now/{{name}}" class="customButton" name="buynow">Buy Now</a>
        <a href="/add_to_cart/{{name}}" class="customButton" name="addtocart">Add to Cart</a>
    </div>
    </div>
    <div class="name"></div>
    <div class="v5_1575">
    <div class="v5_1576">
    <div class="v5_1577">
    <div class="v5_1578">
    <div class="v5_1579"></div>
    <div class="v5_1580">
    <a href="/my_page/{{data.seller}}" class="상점바로가기">송충이 상점                                       바로가기</a>
    </div>
    </div>
    </div>
    <span class="상점소개">송충이 상점 한 줄 소개</span>
    </div>
    </div>
<span class="상품찜">찜 <span id="jcnt">15</span>
 	<button class="heartButton"  id="heartButton">
 		 <span class="heartIcon"></span>
	</button>
</span>


<div class="name"></div>
    


    <a href="/view_review" class="REVIEWButton">REVIEW</a>

<div class="v92_43">
<div class="v92_44">
<div class="v92_45"></div>
</div>
<div class="navbar">
    <ul>
        <li class="logo">
            <a href="/main_page">
                <i class="fa-brands fa-pagelines"></i>&nbsp;&nbsp;&nbsp;EWHA STORE
            </a>
        </li>
        <li><a href="/certification">이화인 인증</a></li>
        <li><a href="/list">판매상품</a></li>
        <li><a href="/cart">장바구니</a></li>
        <li><a href="/my_page">마이페이지</a></li>
        {% if session['id'] %}
        <li><a href="/logout"><b>{{session['id']}}님&nbsp;&nbsp;</b>로그아웃</a></li> {% else %}
        <li><a href="/login">로그인</a></li>
        {% endif %}
    </ul>
</div>
</div>
</body>
</html>
